{% extends "page.html" %}

{% block scripts %}
    <script src="/hub/static/js/tagify.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/hub/static/css/tagify.min.css" />
    {{ super() }}
{% endblock %}

{% block main %}
    <div class="container">
        <div id="messages">
            <div class="alert alert-success">
                <p><strong>Looking for your notebooks? They have been migrated to the project named Default Project.</strong></p>
                <p>The GenePattern Notebook Workspace now allows you to divide your work into multiple “projects,” each with its
                    own environment and extensions. For more information about notebook projects,
                    <a href="https://notebook.genepattern.org/basic-features/#notebook-projects" target="_blank">see our documentation</a>.</p>
            </div>
        </div>

        <div id="nb-header">
            <h1>Your Projects</h1>
            <p class="lead">Launch, create or share notebook projects.</p>
            <input type="search" id="nb-project-search" placeholder="Search Projects" class="form-control" />
            <button id ="nb-new" class="btn btn-primary"><i class="fa fa-plus-circle"></i> New Project</button>
        </div>

        <div id="projects"></div>
    </div>

    <div id="nb-library-container" class="container">
        <div id="nb-header">
            <h1>Public Notebooks</h1>
            <p class="lead">Browse, launch and reproduce public notebooks.</p>
            <input type="search" id="nb-library-search" placeholder="Search Library" class="form-control" />
            <ul id="pinned-tags" class="nav nav-tabs"></ul>
        </div>
        <div id="library"></div>
    </div>
{% endblock %}

{% block script %}
    {{ super() }}
    <script type="text/javascript" src="/hub/static/js/projects.js"></script>
{% endblock %}