{% extends "page.html" %}

{% block meta %}
    <script type="text/javascript">
        require(["jquery"], function () {
            $(document).ready(function () {
                // Set the cookie on login
                $("#login_form").submit(function () {
                    document.cookie = "GenePattern=" + $("#username_input").val() + "|" +
                        encodeURIComponent(btoa($("#password_input").val())) + ";path=/;domain=genepattern.org"
                });

                // Get the status message
                $.ajax({
                    method: "GET",
                    url: "https://cloud.genepattern.org/gp/rest/v1/config/system-message",
                    timeout: 10000,
                    xhrFields: {
                        withCredentials: true
                    },
                    success: function(x, y) {
                        $("#genepattern-status").empty();
                        $("#genepattern-status").append(x)
                    },
                    error: function(x, y) {
                        $("#genepattern-status").empty();
                        $("#genepattern-status").append("<p style='color:red; font-weight:bold;'>The GenePattern public server currently appears to be experiencing technical difficulties.</p><p>You may encounter errors when attempting to log in or access otherwise access the server.</p><p>Please try again in a few minutes.</p>")
                    }
                });

            });
        });
    </script>
    <style type="text/css">
        iframe {
            width: 100% !important;
        }

        .control-group {
            min-height: 45px;
        }

        .wait-spinner {
            font-size: 24pt;
            color: gray;
            position: relative;
            top: 7px;
        }

        #genepattern-status {
	    height: 209px;
            overflow-y: auto;
        }

        #forgot-password {
            width: auto !important;
            margin-top: 16px;
            float: right;
        }

        #success-message {
            width: 50%;
            max-width: 500px;
            position: fixed;
            top: 120px;
            z-index: 60000;
            left: 50%;
            transform: translateX(-50%);
        }

        @media all and (min-width: 992px) {
            .login-box {
                height: 80vh;
                position: relative;
            }

            .login-row {
                height: 80vh;
            }

            .register-panel {
                min-height: 255px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                margin: 0 10px 0 10px;
            }

            .status-panel {
                min-height: 255px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 350px;
                margin: 0;
            }
        }

        @media all and (max-width: 991px) {
            .login-box {
                height: 50vh;
                min-height: 300px;
            }

            .login-row {
                height: 80vh;
            }
        }
    </style>
{% endblock %}

{% block login_widget %}
{% endblock %}

{% block main %}

    {% block login %}
        <div id="login-main" class="container" style="display: block;">
            <div class="row login-row">
                {% if custom_html %}
                    {{ custom_html }}
                {% elif login_service %}
                    <div class="service-login">
                        <a class='btn btn-jupyter btn-lg' href='{{ login_url }}'>
                            Sign in with {{ login_service }}
                        </a>
                    </div>
                {% else %}
                    <div class="login-box col-md-4">
                        <form id="login_form" action="{{ login_url }}?next={{ next }}" method="post" role="form" autocomplete="off"
                              style="position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 100%; padding: 0 10px 0 10px;">
                            <div class="auth-form-header" style="height:46px;">
                                Sign in
                            </div>
                            <div class='auth-form-body' style="min-height:209px">
                                {% if login_error %}
                                    <p class="login_error">
                                        {{ login_error }}
                                    </p>
                                {% endif %}
                                <label for="username_input">Username:</label>
                                <input id="username_input" type="username" autocapitalize="off" autocorrect="off" class="form-control" name="username" val="{{ username }}" tabindex="1" autofocus="autofocus" />
                                <label for='password_input'>Password:</label>
                                <input type="password" class="form-control" name="password" id="password_input" tabindex="2" />

                                <input type="submit" id="login_submit" class='btn btn-jupyter' value='Sign In' tabindex="3" />

                                <button id="forgot-password" type="button" class="btn btn-default" onclick="JavaScript:toggle_forgot_password()">Forgot Password?</button>
                            </div>
                        </form>
                    </div>

                    <div class="login-box col-md-4">
                        <div class="panel panel-primary status-panel">
                            <div class="panel-heading" style="font-size: large;">GenePattern Server Status</div>
                            <div id="genepattern-status" class="panel-body">
                                Loading...
                            </div>
                        </div>
                    </div>

                    <div class="login-box col-md-4">
                        <div class="panel panel-primary register-panel">
                            <div class="panel-heading" style="font-size: large;">Register GenePattern Account</div>
                            <div class="panel-body">Log in using your <a target="_BLANK" href="https://cloud.genepattern.org">GenePattern public
                                server</a> username and password. If you do not have an account, click the <a onclick="JavaScript:toggle_registration()" href="#">Register
                                Account</a> button below.<br><br>
                                <button class="btn btn-default" onclick="JavaScript:toggle_registration()">Register a New GenePattern Account</button>
                                <br><br> Documentation is available on the <a target="_BLANK" href="http://genepattern-notebook.org">GenePattern Notebook
                                    website</a>.
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endblock login %}

    <div id="password-main" class="container" style="display: none; background: transparent;">
        <div class="row">
            <form id="forgot_password_form" method="POST" class="form-horizontal col-md-8">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title">Request a Password Reset</h1>
                    </div>
                    <div class="panel-body">
                        <div id="password_error" class="alert alert-danger" style="display: none;"></div>
                        <p class="col-md-12" style="float: none;">Enter your registered username into the form below. A new password will be sent to its
                            associated email address. If you don't see the email within a few minutes, please check your spam filter.</p>
                        <div class="control-group">
                            <label class="control-label col-md-3" for="username">Username</label>
                            <div class="col-md-9">
                                <input type="text" name="username" class="form-control" required />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label col-md-3">&nbsp;</label>
                            <div class="col-md-9">
                                <input type="submit" class="btn btn-primary btn-lg" value="Reset Password" />
                                <button type="button" class="btn btn-default btn-lg login-return" onclick="JavaScript: toggle_forgot_password()">Return to Login</button>
                                <span class="spinner-space"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="registration-main" class="container" style="display: none; background: transparent;">
        <div class="row">
            <form id="registration_form" method="POST" class="form-horizontal col-md-8">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title">Register a GenePattern Account</h1>
                    </div>
                    <div class="panel-body">
                        <div id="registration_error" class="alert alert-danger" style="display: none;"></div>
                        <div class="control-group">
                            <label class="control-label col-md-3" for="username">Username</label>
                            <div class="col-md-9">
                                <input type="text" name="username" class="form-control" required />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label col-md-3" for="password">Password</label>
                            <div class="col-md-9">
                                <input type="password" name="password" class="form-control" required />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label col-md-3" for="password_confirm">Password (again)</label>
                            <div class="col-md-9">
                                <input type="password" name="password_confirm" class="form-control" required />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label col-md-3">Email</label>
                            <div class="col-md-9">
                                <input type="email" name="email" class="form-control" required />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label col-md-3">&nbsp;</label>
                            <div class="col-md-9">
                                <input type="submit" class="btn btn-primary btn-lg" value="Register Account" />
                                <button type="button" class="btn btn-default btn-lg login-return" onclick="JavaScript: toggle_registration()">Return to Login</button>
                                <span class="spinner-space"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="col-md-4">
                <!-- Registration hints here -->
            </div>
        </div>
    <div/>

{% endblock %}

{% block script %}
    {{ super() }}
    <script type="text/javascript">
        function toggle_forgot_password() {

            if ($("#password-main:visible").length) {
                $("#password-main").slideUp();
                $("#login-main").slideDown();
            }
            else {
                $("#password-main").slideDown();
                $("#login-main").slideUp();
            }
        }

        function toggle_registration() {
            if ($("#registration-main:visible").length) {
                $("#registration-main").slideUp();
                $("#login-main").slideDown();
            }
            else {
                $("#registration-main").slideDown();
                $("#login-main").slideUp();
            }
        }

        function add_spinner() {
            // Disable Return to Login Button
            $(".login-return").prop("disabled", true);

            // Add the spinner
            $(".spinner-space").append(
                $('<i></i>')
                    .addClass('wait-spinner fa fa-spinner fa-spin fa-3x fa-fw')
            );
        }

        function remove_spinner() {
            // Disable Return to Login Button
            $(".login-return").prop("disabled", false);

            // Remove the spinner
            $(".spinner-space").empty();
        }

        function display_error(message, selector="#registration_error") {
            $(selector).text(message).show();
        }

        function hide_errors() {
            $("div.alert-danger").hide();
        }

        function validate_password() {
            var registration_form = $("#registration_form");
            var password = registration_form.find('input[name=password]');
            var confirm = registration_form.find("input[name='password_confirm']");

            if (password.val() === confirm.val()) {
                confirm[0].setCustomValidity('');
                return true;
            }
            else {
                confirm[0].setCustomValidity("Passwords don't match");
                return false;
            }
        }

        function success_message(message) {
            // Remove old message
            $("#success-message").remove();

            // Add the new message
            $("body").append(
                $("<div></div>")
                    .attr("id", "success-message")
                    .addClass("alert alert-success alert-dismissable")
                    .append(
                        $('<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>')
                            .click(function() {
                                $("#success-message").remove();
                            })
                    )
                    .append(message)
            );
        }

        // Intercept the registration form submission and do AJAX
        require(["jquery"], function() {
            var registration_form = $("#registration_form");
            registration_form.find('input[name=password]')[0].onchange = validate_password;
            registration_form.find("input[name='password_confirm']")[0].onkeyup = validate_password;

            $(document).ready(function () {
                // Handle the registration form
                $("#registration_form").submit(function (event) {
                    // Gather the form data
                    var formData = {
                        'username': registration_form.find('input[name=username]').val(),
                        'password': registration_form.find('input[name=password]').val(),
                        'email': registration_form.find('input[name=email]').val(),
                        'client_id': 'GenePattern Notebook Repository'
                    };

                    // Submit the form
                    add_spinner();
                    $.ajax({
                        beforeSend: function(xhrObj){
                            xhrObj.setRequestHeader("Content-Type","application/json");
                            xhrObj.setRequestHeader("Accept","application/json");
                        },
                        type: 'POST',
                        url: 'https://cloud.genepattern.org/gp/rest/v1/oauth2/register',
                        crossDomain: true,
                        data: JSON.stringify(formData),
                        dataType: 'json',
                        success: function (data) {
                            var username = registration_form.find('input[name=username]').val();
                            var password = registration_form.find('input[name=password]').val();

                            // Submit login form
                            var login_form = $("#login_form");
                            login_form.find("input[name=username]").val(username);
                            login_form.find("input[name=password]").val(password);
                            login_form.submit();
                        },
                        error: function(xhr) {
                            remove_spinner();

                            // Print to console
                            console.log("ERROR: " + xhr.statusText);
                            console.log(xhr);

                            // Handle errors
                            if (xhr.status === 404) {
                                display_error("Unable to register user. Could not contact the GenePattern server or remote registration unsupported.");
                            }
                            else {
                                try {
                                    display_error(JSON.parse(xhr.responseText).error);
                                }
                                catch(e) {
                                    display_error(xhr.responseText);
                                }
                            }
                        }
                    });

                    // Prevent the normal form submission stuff
                    event.preventDefault();
                });

                // Handle the forgot password form
                var password_form = $("#forgot_password_form");
                password_form.submit(function (event) {
                    // Gather the form data
                    var formData = {
                        'usernameOrEmail': password_form.find('input[name=username]').val()
                    };

                    // Submit the form
                    add_spinner();
                    $.ajax({
                        beforeSend: function(xhrObj){
                            xhrObj.setRequestHeader("Content-Type","application/json");
                            xhrObj.setRequestHeader("Accept","application/json");
                        },
                        type: 'PUT',
                        url: 'https://cloud.genepattern.org/gp/rest/v1/oauth2/forgot-password',
                        crossDomain: true,
                        data: JSON.stringify(formData),
                        dataType: 'json',
                        success: function (data) {
                            // Success!
                            if (data && data.message === "A new password has been emailed to you.") {
                                toggle_forgot_password();
                                hide_errors();
                                success_message("A new password has been emailed to you.");
                            }

                            // Error response!
                            else {
                                try {
                                    display_error(data.message, "#password_error");
                                }
                                catch(e) {
                                    display_error(data.message, "#password_error");
                                }
                            }

                            // Remove the spinner
                            remove_spinner();
                        },
                        error: function(xhr) {
                            remove_spinner();
                            display_error("Unable to reset password. Could not contact the GenePattern server or remote password reset unsupported.", "#password_error");
                        }
                    })

                    // Prevent the normal form submission stuff
                    event.preventDefault();
                });
            });
        });
    </script>
{% endblock %}