{% extends "page.html" %}

{% block main %}

<div class="container">
  {% if not user.running %}
      <div class="row text-center" style="padding-bottom: 10px;">
            Your server is taking a while to start up. This may be the first time it has been launched. To continue, click "Start My Server" button below.
      </div>
  {% endif %}
  <div class="row">
    <div class="text-center">
      {% if user.running %}
      <a id="stop" class="btn btn-lg btn-danger">Stop My Server</a>
      {% endif %}
      <a id="start" class="btn btn-lg btn-success"
      {% if user.running %}
        href="{{ user.url }}"
      {% else %}
        href="{{base_url}}spawn"
      {% endif %}
      >
      {% if not user.running %}
      Start
      {% endif %}
        My Server
      </a>
      {% if user.admin %}
      <a id="admin" class="btn btn-lg btn-primary" href="{{base_url}}admin">Admin</a>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}

{% block script %}
<script type="text/javascript">
require(["home"]);
</script>
{% endblock %}