.running-indicator {
    display: inline-block;
}

.fa.pull-right {
    margin-left: 14px;
}

.repo-nb-icon {
    float: left;
    height: 40px;
}

.repo-nb-description {
    color: #808080;
}

.repo-header {
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 13px;
}

#repository-search {
    float: right;
    font-weight: normal;
}

.repo-label {
    font-weight: bold;
}

#publish-quality {
    margin-left: 0;
}