body {
    margin: 0;
    background-image: url(/hub/static/images/background.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

body > .navbar {
    background-color: transparent;
    border-color: transparent;
}

body > .navbar > .container-fluid {
    width: 1170px;
    padding-top: 30px;
    padding-bottom: 10px;
}

#thenavbar > ul > li:last-child {
    display: inline-block;
    padding-left: 30px;
}

#thenavbar > ul > li > a {
    display: none;
}

#thenavbar > ul > li > a[href='/hub/admin'] {
    display: inline-block;
}

#thenavbar > ul > li:last-child > a {
    position: relative;
    top: 7px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 2px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

#thenavbar > ul > li:last-child > a:hover {
    background-color: #eee;
    border-color: #ccc;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

#header {
    border-bottom: none !important;
}

#header > .container {
    background-color: transparent;
}

.container {
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 0 12px 1px rgba(87, 87, 87, 0.2);
    min-height: 0;
    height: auto;
    position: relative;
}

#login-main {
    background: transparent;
}

#login-main .panel-heading {
    color: #fff;
    background-color: #428bca;
    border-color: #428bca;
}

#login-main .login-box .auth-form-header {
    color: #fff;
    background-color: #428bca;
    border-color: #428bca;
}

#login-main .auth-form-body {
    background: white;
}

#login-main .login-box .form-control:focus {
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px #428bca;
    outline-color: #428bca;
    border-color: #428bca;
}

#login_submit {
    color: #fff;
    background-color: #428bca;
    border-color: #428bca;
}

#login_submit:hover {
    background-color: #529bda;
    border-color: #428bca;
}

.navbar-text {
    display: none;
}

/** Projects Page **/

.nb-project {
    display: inline-block;
    width: 272px;
    vertical-align: top;
    height: 220px;
    margin-bottom: 10px;
    margin-right: 10px;
    text-align: left;
    cursor: pointer;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .24);
    border: lightgray 1px solid;
    position: relative;
}

.nb-project > .nb-img-top {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.nb-project > .panel-body > .panel-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 263px;
    display: block;
    margin: 0 0 10px;
}

.nb-project > .panel-body {
    padding: 5px;
}

.nb-project > .panel-body > .panel-text {
    font-size: 0.9em;
    line-height: 1.2em;
    overflow: hidden;
    /* for set '...' in absolute position */
    position: relative;
    /* max-height = line-height (1.2) * lines max number (3) */
    max-height: 3.6em;
    /* place for '...' */
    margin-right: -1em;
    padding-right: 1em;
}

/* create the ... */
.nb-project > .panel-body > .panel-text:before {
    /* points in the end */
    content: '...';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of block */
    right: 15px;
    bottom: 2px;
}

/* hide ... if we have text, which is less than or equal to max lines */
.nb-project > .panel-body > .panel-text:after {
    /* points in the end */
    content: '';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of text */
    right: 15px;
    /* set width and height */
    width: 10px;
    height: 1em;
    margin-top: 0.2em;
    /* bg color = bg color under block */
    background: white;
}

.nb-project > .panel-body > .nb-tags {
    position: absolute;
    bottom: 5px;
    width: 100%;
    overflow: hidden;
    height: 18px;
}

.nb-project > .panel-body > .nb-tags > .badge {
    display: inline-block;
    margin-right: 3px;
}

div.nb-project-new {
    border: lightgray 2px dashed;
    box-shadow: none;
}

div.nb-project-new > .nb-img-top {
    background: rgba(0, 0, 0, 0.05) none repeat scroll 0 0;
}

.nb-icon-space {
    position: absolute;
    top: 8px;
    right: 60px;
    width: 100px;
    text-align: right;
    color: white;
    padding: 0;
    margin: 0;
    z-index: 1;
}

.nb-published-icon,
.nb-shared-icon {
    width: 30px;
}

.nb-gear-menu {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    border: transparent solid 1px;
    border-radius: 3px;
    z-index: 1;
}

.nb-gear-menu > button {
    color: white;
    background-color: transparent;
    border: none;
}

.nb-gear-menu > button.dropdown-toggle:hover,
.nb-gear-menu > button.dropdown-toggle:focus,
.nb-gear-menu.open > button.dropdown-toggle:hover,
.nb-gear-menu.open > button.dropdown-toggle:focus {
    color: white;
    background-color: transparent;
}

.nb-gear-menu.open > button.dropdown-toggle {
    color: white;
    background-color: transparent;
}

.nb-gear-menu:hover {
    border: rgba(255, 255, 255, 0.7) solid 1px;
    z-index: 2;
}

.nb-project-icon {
    display: block;
    opacity: 20%;
    line-height: 100%;
    font-size: 70px;
    text-align: center;
    padding-top: 15px;
}

.nb-stopped > img {
    filter: grayscale(100%) brightness(150%);
}

#nb-header {
    position: relative;
}

#nb-project-search, #nb-library-search {
    width: 25%;
    right: 25px;
    position: absolute;
    top: 0;
}

#nb-new {
    width: 25%;
    right: 25px;
    position: absolute;
    top: 50px;
}

#nb-library-container {
    margin-top: 30px;
    margin-bottom: 30px;
}

.modal-body .form-control {
    height: auto;
}

.nb-image {
    position: absolute;
    top: 8px;
    left: 10px;
    color: white;
    z-index: 1;
    font-weight: 700;
}

.nb-advanced {
    display: none;
}

#pinned-tags {
    position: absolute;
    top: 42px;
    right: 22px;
    width: 50%;

}

#pinned-tags > li {
    float: right;
}

#nb-preview-tags > span.badge {
    font-size: 1em;
}

.nb-preview-buttons {
    padding: 20px;
}

.nb-preview-buttons > a {
    display: inline-block;
    width: 150px;
}
