body {
    margin: 0;
    background-image: url(/hub/static/images/background.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

body > .navbar {
    background-color: transparent;
    border-color: transparent;
}

body > .navbar > .container-fluid {
    width: 1170px;
    padding-top: 30px;
    padding-bottom: 10px;
}

#thenavbar > ul > li:last-child {
    display: inline-block;
    padding-left: 30px;
}

#thenavbar > ul > li > a {
    display: none;
}

#thenavbar > ul > li > a[href='/hub/admin'] {
    display: inline-block;
}

#thenavbar > ul > li:last-child > a {
    position: relative;
    top: 7px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 2px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

#thenavbar > ul > li:last-child > a:hover {
    background-color: #eee;
    border-color: #ccc;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

#header {
    border-bottom: none !important;
}

#header > .container {
    background-color: transparent;
}

.container {
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 0 12px 1px rgba(87, 87, 87, 0.2);
    min-height: 0;
    height: auto;
    position: relative;
}

#login-main {
    background: transparent;
}

#login-main .panel-heading {
    color: #fff;
    background-color: #428bca;
    border-color: #428bca;
}

#login-main .login-box .auth-form-header {
    color: #fff;
    background-color: #428bca;
    border-color: #428bca;
}

#login-main .auth-form-body {
    background: white;
}

#login-main .login-box .form-control:focus {
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px #428bca;
    outline-color: #428bca;
    border-color: #428bca;
}

#login_submit {
    color: #fff;
    background-color: #428bca;
    border-color: #428bca;
}

#login_submit:hover {
    background-color: #529bda;
    border-color: #428bca;
}

.navbar-text {
    display: none;
}

/** Projects Page **/

.nb-project {
    display: inline-block;
    width: 272px;
    vertical-align: top;
    height: 212px;
    margin-bottom: 10px;
    margin-right: 10px;
    text-align: left;
    cursor: pointer;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .24);
    border: lightgray 1px solid;
    position: relative;
}

.nb-project > .nb-img-top {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.nb-project > .panel-body > .panel-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 265px;
    display: block;
    margin: 0 0 10px;
}

.nb-project > .panel-body {
    padding: 5px;
}

.nb-project > .panel-body > .panel-text {
    font-size: 0.9em;
    line-height: 1.2em;
    overflow: hidden;
    /* for set '...' in absolute position */
    position: relative;
    /* max-height = line-height (1.2) * lines max number (3) */
    max-height: 3.6em;
    /* place for '...' */
    margin-right: -1em;
    padding-right: 1em;
}

/* create the ... */
.nb-project > .panel-body > .panel-text:before {
    /* points in the end */
    content: '...';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of block */
    right: 15px;
    bottom: 2px;
}

/* hide ... if we have text, which is less than or equal to max lines */
.nb-project > .panel-body > .panel-text:after {
    /* points in the end */
    content: '';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of text */
    right: 15px;
    /* set width and height */
    width: 10px;
    height: 1em;
    margin-top: 0.2em;
    /* bg color = bg color under block */
    background: white;
}

.nb-project > .panel-body > .nb-tags {
    position: absolute;
    bottom: 5px;
    width: 100%;
    overflow: hidden;
}

.nb-project > .panel-body > .nb-tags > .badge {
    display: inline-block;
    margin-right: 3px;
}

div.nb-project-new {
    border: lightgray 2px dashed;
    box-shadow: none;
}

.nb-icon-space {
    position: absolute;
    top: 8px;
    right: 60px;
    width: 100px;
    text-align: right;
    color: white;
    padding: 0;
    margin: 0;
    z-index: 1;
}

.nb-published-icon,
.nb-shared-icon {
    width: 30px;
}

.nb-gear-menu {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    border: transparent solid 1px;
    border-radius: 3px;
    z-index: 1;
}

.nb-gear-menu > button {
    color: white;
    background-color: transparent;
    border: none;
}

.nb-gear-menu > button.dropdown-toggle:hover,
.nb-gear-menu > button.dropdown-toggle:focus,
.nb-gear-menu.open > button.dropdown-toggle:hover,
.nb-gear-menu.open > button.dropdown-toggle:focus {
    color: white;
    background-color: transparent;
}

.nb-gear-menu.open > button.dropdown-toggle {
    color: white;
    background-color: transparent;
}

.nb-gear-menu:hover {
    border: rgba(255, 255, 255, 0.7) solid 1px;
    z-index: 2;
}

.nb-project-icon {
    display: block;
    opacity: 20%;
    line-height: 100%;
    font-size: 70px;
    text-align: center;
    padding-top: 15px;
}

.nb-stopped > img {
    filter: grayscale(100%) brightness(150%);
}

.nb-stopped .nb-stop,
li > a.nb-delete,
li > a.nb-edit {
    display: none;
}

.nb-stopped .nb-delete,
.nb-stopped .nb-edit {
    display: block;
}

#nb-header {
    position: relative;
}

#nb-search {
    width: 25%;
    right: 25px;
    position: absolute;
    top: 0;
}

/* NOTEBOOK LIBRARY STOPGAP */
/* TODO: REMOVE ONCE RELEASE 2 IS MADE */

/**
 * Include the DataTables CSS, which is used to display the public notebooks table
 */
@import url("https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css");

.running-indicator {
    display: inline-block;
}

.fa.pull-right {
    margin-left: 14px;
}

.repo-nb-icon {
    float: left;
    height: 40px;
}

.repo-list {
    cursor:pointer;
}

.repo-list-name {
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.repo-list-author {
    font-size: 0.9em;
    width: 40%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
}

.repo-dialog-labels {
    width: 75px;
    font-weight: bold;
    float: left;
}

.repo-dialog-values {
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.repo-dialog-description {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    margin-top: 10px;
}

.repo-nb-description {
    color: #808080;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.repo-description {
    font-size: 0.9em;
}

.repo-title {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 16px;
}

.repo-spacer {
    padding: 20px;
}

.repo-table-header {
    margin: 0;
    float: left;
    letter-spacing: 2px;
    padding-left: 5px;
    font-weight: bold;
    font-size: 1.8em;
}

.repo-header {
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 13px;
}

.repository .repo-notifications {
    float: right;
}

.repo-header-label, .repo-header-notebooks {
    line-height: 29px;
}

.repository-list > .dataTables_wrapper > .dataTables_filter {
    display: none;
}

.repository-search {
    float: right;
    font-weight: normal;
    width: 33%;
    margin-top: 5px;
    border-bottom: none;
}

.repo-header-label {
    text-transform: capitalize;
}

.repo-label {
    font-weight: bold;
}

.repo-sidebar {
    padding: 5px;
}

.repo-sidebar-nav > li,
.repo-sidebar-workshop > li,
.repo-sidebar-shared > li {
    width: 100%;
    text-transform: capitalize;
}

.repo-tag-description {
    margin: 0 0 9px;
}

#publish-quality {
    margin-left: 0;
}

.repo-update-group {
    height: 30px;
}

.repo-modal-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
    text-align: center;
    margin: auto;
    padding-top: 55px;
}

.repo-modal-spinner {
    font-size: 200px;
    float: none;
}

input.repo-input:invalid, select.repo-input:invalid {
  border: 1px solid red;
}

.repository {
    margin-top: 10px;
}

.repository-list {
    padding: 10px;
}

.repository-list table {
    width: 100% !important;
}

.repository-list tbody {
    cursor: pointer;
}

.repo-shared-list {
    border: 1px solid lightgray;
    border-radius: 2px;
    padding: 10px;
}

.repo-shared-user {
    display: inline-block;
    background-color: lightgray;
    padding: 5px;
    border-radius: 4px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.repo-shared-user-error {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

.repo-shared-nobody {
    color: gray;
}

#notification_locked {
    display: inline-block;
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

.repo-sidebar-nav.nav-pills > li + li {
    margin-left: 0;
}

#repo-editors {
    position: relative;
    top: 6px;
    float: right;
    font-size: 1em;
    cursor: pointer;
}



/* Tag-it CSS */

ul.tagit {
    padding: 1px 5px;
    overflow: auto;
    margin-left: inherit; /* usually we don't want the regular ul margins. */
    margin-right: inherit;
    font-size: 0.9em;
}
ul.tagit li {
    display: block;
    float: left;
    margin: 2px 5px 2px 0;
}
ul.tagit li.tagit-choice {
    position: relative;
    line-height: inherit;
    background: #337ab7;
    color: white;
}
input.tagit-hidden-field {
    display: none;
}
ul.tagit li.tagit-choice-read-only {
    padding: .2em .5em .2em .5em;
}

ul.tagit li.tagit-choice-editable {
    padding: .2em 18px .2em .5em;
}

ul.tagit li.tagit-new {
    padding: .25em 4px .25em 0;
}

ul.tagit li.tagit-choice a.tagit-label {
    cursor: pointer;
    text-decoration: none;
}
ul.tagit li.tagit-choice .tagit-close {
    cursor: pointer;
    position: absolute;
    right: .1em;
    top: 50%;
    margin-top: -8px;
    line-height: 17px;
}

/* used for some custom themes that don't need image icons */
ul.tagit li.tagit-choice .tagit-close .text-icon {
    display: none;
}

ul.tagit li.tagit-choice input {
    display: block;
    float: left;
    margin: 2px 5px 2px 0;
}
ul.tagit input[type="text"] {
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;

    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;

    border: none;
    margin: 0;
    padding: 0;
    width: inherit;
    background-color: inherit;
    outline: none;
}

#repository-container {
    margin-top: 20px;
}

#repository {
    margin-right: 0px;
    margin-left: 0px;
}

.repo-header-label,
.repo-header-notebooks {
    font-weight: bold;
    font-size: 1.3em;
}